<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>ToDo List</title>
  </head>
  <body>
    <header>
      <h1>ToDo List</h1>
      <form id="new-task-form" method="post">{% csrf_token %}
        <input
          type="text"
          id="new-task-input"
          name="title"
          placeholder="What do you have planned?"
          value="{{edit.title}}"
        />

        <input type="submit" id="new-task-submit" value="Add task" />
      </form>
    </header>

    <main>
      <section class="task-list">
        <h2>Task</h2>
        <div id="tasks">
          
          {% for task in tasks %}
          
          <div class="task">
            
            {% if task.complate == False %}
            <div class="content">
              
              <p style="font-size: 1.2rem; color: #fff;">{{task.title}}</p>
              
            </div>
            <div class="actions">
              <a href="{% url 'end-task' task.id %}"><button class="edit" >Complated</button></a> 
              <a href="{{task.id}}"><button class="edit" >Edit</button></a> 
              <a href="del/{{task.id}}"> <button class="delete">Delete</button></a> 
            </div>
            {% else %}
            <div class="content">
              <strike style="font-size: 1.2rem; color: var(--gray); margin-bottom: 1rem;">{{task.title}}</strike>
              
              
            </div>
            <div class="actions">
              <a href="{% url 'start-task' task.id %}"><button class="edit" >Start-task</button></a> 
              <a href="del/{{task.id}}"> <button class="delete">Delete</button></a> 
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </section>
    </main>
    <button id="hello">click</button>
  </body>
</html>
